In [49]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense, Activation
import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [50]:
# Leyendo datos
data = pd.read_csv('who_suicide_statistics.csv')

data.head()

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0
3  Albania  1985  female   5-14 years          NaN    298300.0
4  Albania  1985  female  55-74 years          NaN    138700.0

In [51]:
# Codificando features
pais = data['country'].values
codificacion = LabelEncoder().fit_transform(pais)
data['country'] = pd.Series(codificacion, index = data.index)

In [52]:
# Codificando features
sexo = data['sex'].values
codificacion = LabelEncoder().fit_transform(sexo)
data['sex'] = pd.Series(codificacion, index = data.index)

In [53]:
# Preprocesando features
num_suicidios = data['suicides_no'].values
num_suicidios = np.nan_to_num(num_suicidios)

In [54]:
data['suicides_no'] = pd.Series(num_suicidios, index = data.index)

In [55]:
data.head()

   country  year  sex          age  suicides_no  population
0        0  1985    0  15-24 years          0.0    277900.0
1        0  1985    0  25-34 years          0.0    246800.0
2        0  1985    0  35-54 years          0.0    267500.0
3        0  1985    0   5-14 years          0.0    298300.0
4        0  1985    0  55-74 years          0.0    138700.0

In [56]:
data.describe()

            country          year           sex   suicides_no    population
count  43776.000000  43776.000000  43776.000000  43776.000000  3.831600e+04
mean      67.421875   1998.502467      0.500000    183.352865  1.664091e+06
std       41.474737     10.338711      0.500006    780.857898  3.647231e+06
min        0.000000   1979.000000      0.000000      0.000000  2.590000e+02
25%       31.000000   1990.000000      0.000000      0.000000  8.511275e+04
50%       66.000000   1999.000000      0.500000     11.000000  3.806550e+05
75%      103.000000   2007.000000      1.000000     83.000000  1.305698e+06
max      140.000000   2016.000000      1.000000  22338.000000  4.380521e+07

In [58]:
# Modelo de clasificacion 
# Perceptron Multicapa

model = Sequential()

model.add(Dense(32, input_dim = 6))
model.add(Activation('relu'))

model.add(Dense(32, input_dim = 32))
model.add(Activation('relu'))

model.add(Dense(16, input_dim = 32))
model.add(Activation('relu'))

model.add(Dense(2, input_dim = 16))
model.add(Activation('softmax'))


model.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['accuracy'])

# model.fit()

In [ ]:
# Ma